.dashboard-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.recharts-tooltip-wrapper {
    background-color: white !important;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.dashboard-chart {
    margin: auto;
}